/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  padding-bottom: 16rem;
}
.hero-section__col-left {
  width: 100%;
  max-width: 108.3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  background: #d9d9d9;
}
.hero-section__col-left img {
  position: absolute;
  width: 100%;
  height: 64.6rem;
  border-radius: 5rem;
  z-index: 1;
}
.hero-section__col-left-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.7rem 0 6.7rem 7rem;
  gap: 1.6rem;
  z-index: 2;
}
.hero-section__col-left-text .text-one,
.hero-section__col-left-text .text-two {
  color: white;
  text-shadow: 5px 20px 50px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.hero-section__col-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.hero-section__col-right-second-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 40.5rem;
  z-index: 1;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  background: #d9d9d9;
}
.hero-section__col-right-second-box img {
  width: 100%;
  border-radius: 2.5rem;
}
.hero-section__col-right-second-box .box-gradient {
  width: 100%;
  max-width: 40.5rem;
  height: 18.5rem;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background: var(--Gradient-Black, linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 100%));
}
.hero-section__col-right-second-box .box-content {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 2.4rem;
  bottom: 0;
  z-index: 3;
}
.hero-section__col-right-second-box .box-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-section__col-right-second-box .box-content__text .subtitle {
  color: white;
}
.hero-section__col-right-second-box .box-content__icon-play {
  width: 100%;
  max-width: 5.4rem;
  height: 5.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero-section__col-right-second-box .box-content__icon-play a:hover svg g circle {
  stroke: var(--Blue, #4997d3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero-section__col-right-second-box .box-content__icon-play a:hover svg g path {
  fill: var(--Blue, #4997d3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero-section__col-right-third-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 40.5rem;
  height: 25.2rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  background: var(--Black, #222);
}
.hero-section__col-right-third-box .text-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 3rem;
}
.hero-section__col-right-third-box .text-content .subheader {
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  color: var(--White, #fff);
}

.about-us {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4rem;
}
.about-us__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.about-us__content {
  width: 100%;
  max-width: 152rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.about-us__content-image img {
  width: 100%;
  height: 76.6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.about-us__content-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.about-us__content-right-image img {
  max-width: 107.9rem;
  height: 54.1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.about-us__content .header-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.6rem;
}
.about-us__content .header-description .text-col-left {
  width: 100%;
  max-width: 50rem;
}
.about-us__content .header-description .text-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.about-us__content .header-description .text-col-right .dt-2 {
  opacity: 0.75;
}
.about-us__content .header-description .text-col-right .btn-primary {
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 500;
  color: var(--White, #fff);
  font-size: 1.6rem;
  font-style: normal;
  line-height: 0.5714285714;
}
/*# sourceMappingURL=home.css.map */
