@import "../functions";

// ------------------- Hero Section --------------------------------
.hero-section {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-top: 2rem;
    padding-bottom: 16rem;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        text-align: center;

        h2 {
            font-size: 14rem;
            text-transform: uppercase;
            color: var(--Light-Gray, #f6f6f6);
        }

        .text-in-header {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--Blue, #4997d3);
            text-align: center;

            @include f(p, l);
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 300;
            line-height: calc(2.2rem / 2.2rem);
            letter-spacing: 0.8rem;
            text-transform: uppercase;
        }

        .dt-2 {
            text-transform: uppercase;
        }
    }

    &__boxes {
        display: flex;
        gap: 3.2rem;
    }

    &__col-left {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex: 1;

        border-radius: 5rem;
        box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
        background: #d9d9d9;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5rem;
            z-index: 1;
        }

        .gradient-news {
            position: absolute;
            width: 100%;
            height: 40.5rem;
            bottom: 0;
            flex-shrink: 0;
            z-index: 2;
            transform: rotate(180deg);

            border-radius: 2.5rem;
            background: var(
                --Gradient-Black,
                linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 100%)
            );
        }

        &-content {
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            padding: 3rem;
            z-index: 3;
            bottom: 0;

            .header {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.2rem;
                text-align: start;

                h4 {
                    color: var(--White, #fff);
                }
            }

            .author-date {
                width: 100%;
                display: flex;
                gap: 1.6rem;

                .author-icon {
                    width: 100%;
                    max-width: 6.4rem;
                    height: 6.4rem;
                    flex-shrink: 0;

                    border-radius: 50%;
                    background: #d9d9d9;
                }

                .author-content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .dt-5 {
                        color: var(--White, #fff);
                    }

                    .date-text {
                        @include f(p, l);
                        font-size: 1.6rem;
                        font-style: normal;
                        line-height: normal;
                        color: var(--White, #fff);
                    }
                }
            }
        }
    }

    &__col-right {
        width: 100%;
        max-width: 40.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 3.2rem;
        flex: 1 1 0;

        &-second-box {
            position: relative;
            display: flex;
            width: 100%;
            max-width: 40.5rem;
            z-index: 1;

            border-radius: 2.5rem;
            box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
            background: #d9d9d9;

            img {
                width: 100%;
                border-radius: 2.5rem;
            }

            .box-gradient {
                width: 100%;
                max-width: 40.5rem;
                height: 18.5rem;
                position: absolute;
                bottom: 0;
                transform: rotate(180deg);
                flex-shrink: 0;
                z-index: 2;

                border-radius: 2.5rem 2.5rem 0rem 0rem;
                background: var(
                    --Gradient-Black,
                    linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 100%)
                );
            }

            .box-content {
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 3rem 2.4rem;
                bottom: 0;
                z-index: 3;

                &__text {
                    display: flex;
                    flex-direction: column;

                    .subtitle {
                        color: white;
                    }
                }

                &__icon-play {
                    width: 100%;
                    max-width: 5.4rem;
                    height: 5.4rem;
                    flex-shrink: 0;

                    a {
                        &:hover {
                            svg {
                                g {
                                    circle {
                                        stroke: var(--Blue, #4997d3);
                                        @include transition();
                                    }
                                    path {
                                        fill: var(--Blue, #4997d3);
                                        @include transition();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-third-box {
            display: flex;
            width: 100%;
            max-width: 40.5rem;
            height: 25.2rem;

            border-radius: 2.5rem;
            box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
            background: var(--Black, #222);
            @include transition();

            .text-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2.8rem 3rem;

                .subheader {
                    @include f(p, l);
                    color: var(--White, #fff);
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

// ------------------- About Us --------------------------------
.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-bottom: 16rem;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        text-align: center;

        h2 {
            font-size: 14rem;
            text-transform: uppercase;
            color: var(--Light-Gray, #f6f6f6);
        }

        .text-in-header {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--Blue, #4997d3);
            text-align: center;

            @include f(p, l);
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 300;
            line-height: calc(2.2rem / 2.2rem);
            letter-spacing: 0.8rem;
            text-transform: uppercase;
        }

        .dt-2 {
            text-transform: uppercase;
        }
    }

    &__content {
        width: 100%;
        max-width: 152rem;
        display: flex;
        gap: 3rem;

        &-image {
            width: 100%;
            display: flex;
            flex: 1 1 15rem;

            img {
                width: 100%;
                height: 76.6rem;
                flex-shrink: 0;

                border-radius: 2.5rem;
                box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
            }
        }

        &-right {
            width: 100%;
            display: flex;
            flex: 1 0 80rem;
            flex-direction: column;
            gap: 2.4rem;

            &-image {
                @include transition();

                img {
                    width: 100%;
                    height: 54.1rem;
                    flex-shrink: 0;

                    border-radius: 2.5rem;
                    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
                }
                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        .header-description {
            width: 100%;
            display: flex;
            gap: 9.6rem;

            .text-col-left {
                width: 100%;
                max-width: 50rem;
            }

            .text-col-right {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .dt-3 {
                    opacity: 0.75;
                }
            }
        }
    }
}

// ------------------- Our Values --------------------------------
.our-values {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding-bottom: 16rem;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        h2 {
            font-size: 14rem;
            text-transform: uppercase;
            color: var(--Light-Gray, #f6f6f6);
        }

        .text-in-header {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--Blue, #4997d3);
            text-align: center;

            @include f(p, l);
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 300;
            line-height: calc(2.2rem / 2.2rem);
            letter-spacing: 0.8rem;
            text-transform: uppercase;
        }
    }

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &-box {
            display: flex;
            flex-direction: column;

            width: 100%;
            max-width: 32.7rem;
            flex-shrink: 0;
            gap: 4rem;
            padding: 2rem 0;

            border-radius: 2.5rem;
            @include transition();

            &:hover {
                border-radius: 2.5rem;
                background: var(--Blue, #4997d3);
                box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);

                transform: scale(1.03);

                #happy {
                    svg {
                        g {
                            g {
                                g {
                                    path {
                                        fill: var(--White, #fff);
                                    }
                                }
                            }
                        }
                    }
                }

                #tour,
                #time {
                    svg {
                        g {
                            g {
                                g {
                                    path {
                                        stroke: var(--White, #fff);
                                    }
                                }
                            }
                        }
                    }
                }

                .our-values__items-box-content {
                    .dt-1 {
                        color: var(--White, #fff);
                    }

                    .dt-4 {
                        color: var(--White, #fff);
                    }
                }
            }

            &-icon {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            #happy {
                svg {
                    width: 100%;
                    max-width: 6rem;
                    height: 6rem;
                    flex-shrink: 0;

                    g {
                        g {
                            g {
                                path {
                                    fill: var(--Blue, #4997d3);
                                }
                            }
                        }
                    }
                }
            }

            #tour,
            #time {
                svg {
                    width: 100%;
                    max-width: 6rem;
                    height: 6rem;
                    flex-shrink: 0;

                    g {
                        g {
                            g {
                                path {
                                    stroke: var(--Blue, #4997d3);
                                }
                            }
                        }
                    }
                }
            }

            &-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                align-items: center;
                text-align: center;

                .dt-1 {
                    color: var(--Black, #222);
                }

                .dt-4 {
                    width: 100%;
                    max-width: 26rem;
                }
            }
        }
    }
}

// ------------------- Promo Section --------------------------------
.promo-section {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 10rem;

    &__image {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            max-width: 152rem;
            height: 70rem;
            flex-shrink: 0;

            border-radius: 2.5rem;
            background: #d9d9d9;
            box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        &-header {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 6.7rem 0 6.7rem 7rem;
            gap: 1.6rem;
            z-index: 2;
            top: 0;

            .text-one,
            .text-two {
                color: white;
                text-shadow: 5px 20px 50px rgba(0, 0, 0, 0.1);
                text-transform: uppercase;
            }
        }
    }
}

// ------------------- Course --------------------------------
.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-bottom: 10rem;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        text-align: center;

        h2 {
            font-size: 14rem;
            text-transform: uppercase;
            color: var(--Light-Gray, #f6f6f6);
        }

        .text-in-header {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--Blue, #4997d3);
            text-align: center;

            @include f(p, l);
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 300;
            line-height: calc(2.2rem / 2.2rem);
            letter-spacing: 0.8rem;
            text-transform: uppercase;
        }

        .dt-2 {
            text-transform: uppercase;
        }
    }

    &__items {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 3.1rem;

        &-card {
            position: relative;
            width: 100%;
            max-width: 37.2rem;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            @include transition();

            &-image {
                img {
                    width: 100%;
                    max-width: 37.2rem;
                    height: 50.3rem;
                    flex-shrink: 0;

                    border-radius: 2.5rem;
                    background: #d9d9d9;
                }
            }

            &-hover-text {
                display: none;
            }

            &:hover {
                position: relative;
                max-width: 71.2rem;

                .course__items-card-image {
                    position: relative;
                    width: 100%;
                    max-width: 71.2rem;
                    height: 60.9rem;
                    border-radius: 2.5rem;

                    .gradient {
                        position: absolute;
                        width: 100%;
                        max-width: 71.3rem;
                        height: 60.9rem;
                        flex-shrink: 0;

                        border-radius: 2.5rem;
                        background: var(
                            --Gradient-Black,
                            linear-gradient(
                                360deg,
                                #222 0%,
                                rgba(34, 34, 34, 0) 100%
                            )
                        );
                    }

                    &#image-1 {
                        background-image: url("../../images/private-lesson-hover.webp");
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &#image-2 {
                        background-image: url("../../images/group-lesson-hover.webp");
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &#image-3 {
                        background-image: url("../../images/family-lesson-hover.webp");
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    img {
                        display: none;
                    }
                }

                .course__items-card-text {
                    display: none;
                }

                .course__items-card-hover-text {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                    bottom: 0;
                    padding: 2rem;

                    h5 {
                        color: var(--White, #fff);
                    }

                    .dt-5 {
                        width: 100%;
                        max-width: 61.3rem;
                        color: var(--White, #fff);
                    }
                }

                .course__items-card-hover-buttons {
                    width: 100%;
                    display: flex;
                    gap: 1.6rem;
                }
            }
        }
    }
}

// ------------------- Gallery --------------------------------
.gallery {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-bottom: 10rem;

    &__header {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        text-align: center;

        h2 {
            font-size: 14rem;
            text-transform: uppercase;
            color: var(--Light-Gray, #f6f6f6);
        }

        .text-in-header {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--Blue, #4997d3);
            text-align: center;

            @include f(p, l);
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 300;
            line-height: calc(2.2rem / 2.2rem);
            letter-spacing: 0.8rem;
            text-transform: uppercase;
        }

        .dt-2 {
            text-transform: uppercase;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;

        &-left {
            width: 100%;
            max-width: 35.7rem;

            display: flex;
            flex-direction: column;
            gap: 3rem;

            .left-image-first {
                img {
                    width: 100%;
                    max-width: 35.7rem;

                    border-radius: 2.5rem;
                    background: #d9d9d9;
                    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
                }
            }

            .left-image-second {
                img {
                    width: 100%;
                    max-width: 35.7rem;
                    height: 32rem;

                    border-radius: 2.5rem;
                    background: #d9d9d9;
                    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }

        &-center {
            img {
                width: 100%;
                max-width: 74.6rem;
                display: flex;
                height: 83rem;

                border-radius: 2.5rem;
                background: #d9d9d9;
                box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
            }
        }

        &-right {
            width: 100%;
            max-width: 35.7rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .right-image-first {
                img {
                    width: 100%;
                    max-width: 35.7rem;
                    height: 32rem;

                    border-radius: 2.5rem;
                    background: #d9d9d9;
                    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
                }
            }

            .right-image-second {
                img {
                    width: 100%;
                    max-width: 35.7rem;

                    border-radius: 2.5rem;
                    background: #d9d9d9;
                    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    &__site {
        display: inline-flex;
        justify-content: center;

        .btn-site {
            display: flex;
            padding: 1.6rem 2.4rem;
            gap: 1.6rem;
            align-items: center;

            border-radius: 1rem;
            border: 1px solid var(--Blue, #4997d3);
            background: var(--White, #fff);
            @include transition();

            i {
                display: flex;
                align-items: center;

                svg {
                    g {
                        g {
                            g {
                                path {
                                    fill: var(--Blue, #4997d3);
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                border: 1px solid var(--White, #fff);
                background: var(--Blue, #4997d3);
                color: var(--White, #fff);

                i {
                    svg {
                        g {
                            g {
                                g {
                                    path {
                                        fill: var(--White, #fff);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .dt-1 {
            text-transform: uppercase;
        }
    }
}

// ------------------- Asked Question --------------------------------
.asked-question {
    display: flex;
    width: 100%;
    gap: 7.1rem;
    padding-bottom: 16rem;

    &__col-left {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 49.8rem;
        flex-direction: column;
        gap: 5.6rem;

        .dots {
            width: 100%;
            max-width: 10rem;
            height: 8rem;
            position: absolute;
            bottom: 0;
            background: url("../../images/dots.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 2;
        }

        .dt-5 {
            opacity: 0.75;
            position: relative;
            z-index: 3;
        }
    }

    &__col-right {
        display: flex;
        flex-direction: column;
        gap: 5.2rem;
        margin-top: 10rem;
        justify-content: flex-end;
        width: 100%;

        &-text {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 91.5rem;

            &-content {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .circle {
                    svg {
                        width: 100%;
                        position: relative;
                        max-width: 4.8rem;
                        height: 4.8rem;
                        flex-shrink: 0;

                        fill: var(--Blue, #4997d3);
                        -webkit-text-stroke: 1px var(--Blue, #4997d3);
                    }
                }
            }
        }

        .content-text {
            width: 100%;
            max-width: 98.7rem;
            padding: 3.6rem;
            border-radius: 2.5rem;
            background: var(--White, #fff);

            box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.05);
        }
    }
}

// ------------------- Swiper --------------------------------
.swiper {
    width: 100%;
    height: auto;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);

    span {
        color: var(--White, #fff);
    }
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--White, #fff);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background: var(--White, #fff);
}

@media only screen and (max-width: 1235px) {
    .asked-question {
        flex-direction: column;
        gap: 0;
        padding-bottom: 7rem;
    }
}

@media only screen and (max-width: 1125px) {
    .hero-section {
        &__boxes {
            flex-direction: column;
        }

        &__col-right {
            flex-direction: row;
            justify-content: center;
            max-width: 100%;

            &-third-box {
                height: auto;
            }
        }
    }

    .about-us {
        &__content {
            &-image {
                display: none;
            }

            &-right {
                flex: 1;

                &-image {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }

    .course {
        &__header {
            h2 {
            }

            .text-in-header {
            }

            .dt-2 {
            }
        }

        &__items {
            flex-wrap: wrap;

            &-card {
                &-image {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .promo-section {
        &__image {
            img {
                height: auto;
            }
        }

        &__content {
            &-header {
                .dt-1,
                h3 {
                }
            }
        }
    }

    .gallery {
        &__content {
            &-center {
                img {
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .hero-section {
        &__col-right {
            &-second-box {
                max-width: 35.5rem;
            }
            &-third-box {
                max-width: 35.5rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .our-values {
        padding-bottom: 5rem;
    }
}

@media only screen and (max-width: 700px) {
    .hero-section {
        &__col-left {
            &-text {
                .text-one {
                    h2 {
                        font-size: 7.2rem;
                    }
                }
                .text-two {
                    h2 {
                        font-size: 7.2rem;
                    }
                }
            }
        }
        &__col-right {
            &-second-box {
                max-width: 100%;

                .box-gradient {
                    max-width: 100%;
                }
            }
            &-third-box {
                max-width: 100%;

                .text-content {
                    gap: 3rem;
                }
            }
        }
    }

    .about-us {
        &__header {
            h2 {
                font-size: 12rem;
            }

            .text-in-header {
            }
        }

        &__content {
            .header-description {
                flex-direction: column;
                gap: 3rem;

                .text-col-left {
                    max-width: 100%;
                }

                .text-col-right {
                }
            }
        }
    }

    .our-values {
        gap: 3rem;
        &__header {
            h2 {
                font-size: 12rem;
                text-align: center;
            }
        }
    }

    .promo-section {
        &__content {
            padding: 2rem;
            &-header {
                h3 {
                    font-size: 6rem;
                }
            }
        }
    }

    .course {
        &__header {
            h2 {
                font-size: 12rem;
            }
        }
    }

    .gallery {
        &__header {
            h2 {
                font-size: 12rem;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .hero-section {
        padding-bottom: 7rem;

        &__col-left {
            img {
                height: 30rem;
            }
            &-text {
                padding: 6.7rem 0 6.7rem 2rem;

                .text-one {
                    h2 {
                        font-size: 5.2rem;
                    }
                }
                .text-two {
                    h2 {
                        font-size: 5.2rem;
                    }
                }
            }
        }
    }

    .about-us {
        gap: 3rem;
        padding-bottom: 7rem;

        &__header {
            h2 {
                font-size: 9rem;
            }

            .text-in-header {
                font-size: 1.4rem;
            }
        }

        &__content {
            .header-description {
                .text-col-left {
                    h3 {
                        font-size: 6rem;
                    }
                }

                .text-col-right {
                }
            }
        }
    }

    .our-values {
        &__header {
            h2 {
                font-size: 9rem;
            }
        }
    }

    .promo-section {
        padding-bottom: 5rem;

        &__content {
            gap: 1.4rem;

            &-header {
                padding: 2.7rem 0 2.7rem 1rem;
                gap: 1.4rem;

                h6 {
                    font-size: 1.6rem;
                }

                h2 {
                    font-size: 4rem;
                }
            }
        }

        .btn-primary-white {
            padding: 1rem;
        }
    }

    .course {
        &__header {
            h2 {
                font-size: 9rem;
            }
        }
    }

    .gallery {
        padding-bottom: 5rem;

        &__header {
            h2 {
                font-size: 9rem;
            }
        }
    }
}
@media only screen and (max-width: 395px) {
    .promo-section {
        &__content {
            &-header {
                h3 {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .about-us {
        &__header {
            h2 {
                font-size: 7rem;
            }

            .text-in-header {
                top: 30%;
            }
        }

        &__content {
            .header-description {
                .text-col-left {
                    h3 {
                        font-size: 4rem;
                    }
                }

                .text-col-right {
                }
            }
        }
    }
    .our-values {
        &__header {
            h2 {
                font-size: 7rem;
            }
        }
    }

    .course {
        &__header {
            h2 {
                font-size: 7rem;
            }
        }
    }

    .gallery {
        &__header {
            h2 {
                font-size: 7rem;
            }
        }
    }
}
