/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4rem;
  padding-top: 2rem;
  padding-bottom: 16rem;
}
.hero-section__header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}
.hero-section__header h2 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--Light-Gray, #f6f6f6);
}
.hero-section__header .text-in-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--Blue, #4997d3);
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.hero-section__header .dt-2 {
  text-transform: uppercase;
}
.hero-section__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
}
.hero-section__col-left {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  background: #d9d9d9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero-section__col-left:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.hero-section__col-left img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  z-index: 1;
}
.hero-section__col-left .gradient-news {
  position: absolute;
  width: 100%;
  height: 40.5rem;
  bottom: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 2.5rem;
  background: var(--Gradient-Black, linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 100%));
}
.hero-section__col-left-content {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  padding: 3rem;
  z-index: 3;
  bottom: 0;
}
.hero-section__col-left-content .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.2rem;
  text-align: start;
}
.hero-section__col-left-content .header h4 {
  color: var(--White, #fff);
}
.hero-section__col-left-content .author-date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}
.hero-section__col-left-content .author-date .author-icon {
  width: 100%;
  max-width: 6.4rem;
  height: 6.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background: #d9d9d9;
}
.hero-section__col-left-content .author-date .author-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero-section__col-left-content .author-date .author-content .dt-5 {
  color: var(--White, #fff);
}
.hero-section__col-left-content .author-date .author-content .date-text {
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  font-style: normal;
  line-height: normal;
  color: var(--White, #fff);
}
.hero-section__col-right {
  width: 100%;
  max-width: 40.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}
.hero-section__col-right-second-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 40.5rem;
  z-index: 1;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  background: #d9d9d9;
}
.hero-section__col-right-second-box img {
  width: 100%;
  border-radius: 2.5rem;
}
.hero-section__col-right-second-box .box-gradient {
  width: 100%;
  max-width: 40.5rem;
  height: 18.5rem;
  position: absolute;
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background: var(--Gradient-Black, linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 100%));
}
.hero-section__col-right-second-box .box-content {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 2.4rem;
  bottom: 0;
  z-index: 3;
}
.hero-section__col-right-second-box .box-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-section__col-right-second-box .box-content__text .subtitle {
  color: white;
}
.hero-section__col-right-second-box .box-content__icon-play {
  width: 100%;
  max-width: 5.4rem;
  height: 5.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero-section__col-right-second-box .box-content__icon-play a:hover svg g circle {
  stroke: var(--Blue, #4997d3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero-section__col-right-second-box .box-content__icon-play a:hover svg g path {
  fill: var(--Blue, #4997d3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero-section__col-right-third-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 40.5rem;
  height: 25.2rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  background: var(--Black, #222);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero-section__col-right-third-box .text-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 3rem;
}
.hero-section__col-right-third-box .text-content .subheader {
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  color: var(--White, #fff);
}
.hero-section__col-right-third-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about-us {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4rem;
  padding-bottom: 16rem;
}
.about-us__header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}
.about-us__header h2 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--Light-Gray, #f6f6f6);
}
.about-us__header .text-in-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--Blue, #4997d3);
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.about-us__header .dt-2 {
  text-transform: uppercase;
}
.about-us__content {
  width: 100%;
  max-width: 152rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.about-us__content-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}
.about-us__content-image img {
  width: 100%;
  height: 76.6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-us__content-image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.about-us__content-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80rem;
          flex: 1 0 80rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.about-us__content-right-image {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-us__content-right-image img {
  width: 100%;
  height: 54.1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.about-us__content-right-image:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.about-us__content .header-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.6rem;
}
.about-us__content .header-description .text-col-left {
  width: 100%;
  max-width: 50rem;
}
.about-us__content .header-description .text-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.about-us__content .header-description .text-col-right .dt-3 {
  opacity: 0.75;
}

.our-values {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8rem;
  padding-bottom: 16rem;
}
.our-values__header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-values__header h2 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--Light-Gray, #f6f6f6);
}
.our-values__header .text-in-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--Blue, #4997d3);
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.our-values__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-values__items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 32.7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 4rem;
  padding: 2rem 0;
  border-radius: 2.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.our-values__items-box:hover {
  border-radius: 2.5rem;
  background: var(--Blue, #4997d3);
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.our-values__items-box:hover #happy svg g g g path {
  fill: var(--White, #fff);
}
.our-values__items-box:hover #tour svg g g g path,
.our-values__items-box:hover #time svg g g g path {
  stroke: var(--White, #fff);
}
.our-values__items-box:hover .our-values__items-box-content .dt-1 {
  color: var(--White, #fff);
}
.our-values__items-box:hover .our-values__items-box-content .dt-4 {
  color: var(--White, #fff);
}
.our-values__items-box-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-values__items-box #happy svg {
  width: 100%;
  max-width: 6rem;
  height: 6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.our-values__items-box #happy svg g g g path {
  fill: var(--Blue, #4997d3);
}
.our-values__items-box #tour svg,
.our-values__items-box #time svg {
  width: 100%;
  max-width: 6rem;
  height: 6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.our-values__items-box #tour svg g g g path,
.our-values__items-box #time svg g g g path {
  stroke: var(--Blue, #4997d3);
}
.our-values__items-box-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.our-values__items-box-content .dt-1 {
  color: var(--Black, #222);
}
.our-values__items-box-content .dt-4 {
  width: 100%;
  max-width: 26rem;
}

.promo-section {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 10rem;
}
.promo-section__image {
  width: 100%;
  position: relative;
}
.promo-section__image img {
  width: 100%;
  max-width: 152rem;
  height: 70rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  background: #d9d9d9;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.promo-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
.promo-section__content-header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.7rem 0 6.7rem 7rem;
  gap: 1.6rem;
  z-index: 2;
  top: 0;
}
.promo-section__content-header .text-one,
.promo-section__content-header .text-two {
  color: white;
  text-shadow: 5px 20px 50px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.course {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4rem;
  padding-bottom: 10rem;
}
.course__header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}
.course__header h2 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--Light-Gray, #f6f6f6);
}
.course__header .text-in-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--Blue, #4997d3);
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.course__header .dt-2 {
  text-transform: uppercase;
}
.course__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.1rem;
}
.course__items-card {
  position: relative;
  width: 100%;
  max-width: 37.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.course__items-card:not(:hover) {
  overflow: visible;
}
.course__items-card-image img {
  width: 100%;
  max-width: 37.2rem;
  height: 50.3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  background: #d9d9d9;
}
.course__items-card-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  bottom: 0;
  left: 0;
  padding: 2rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}
.course__items-card-text .hover {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--White, #fff);
}
.course__items-card-text .hover .course__items-card-hover-buttons {
  color: var(--White, #fff);
}
.course__items-card-text .hover .course__items-card-hover-buttons .btn-primary-white {
  color: transparent;
}
.course__items-card:hover {
  position: relative;
  max-width: 71.2rem;
}
.course__items-card:hover .course__items-card-image {
  position: relative;
  width: 100%;
  max-width: 71.2rem;
  height: 50.9rem;
  border-radius: 2.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
.course__items-card:hover .course__items-card-image .gradient {
  position: absolute;
  width: 100%;
  max-width: 71.3rem;
  height: 50.9rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2.5rem;
  background: var(--Gradient-Black, linear-gradient(360deg, #222 0%, rgba(34, 34, 34, 0) 100%));
}
.course__items-card:hover .course__items-card-image#image-1 {
  background-image: url("../../images/private-lesson-hover.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.course__items-card:hover .course__items-card-image#image-2 {
  background-image: url("../../images/group-lesson-hover.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.course__items-card:hover .course__items-card-image#image-3 {
  background-image: url("../../images/family-lesson-hover.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.course__items-card:hover .course__items-card-image img {
  display: none;
}
.course__items-card:hover .course__items-card-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}
.course__items-card:hover .course__items-card-text h5 {
  color: var(--White, #fff);
}
.course__items-card:hover .course__items-card-text .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  opacity: 1;
}
.course__items-card:hover .course__items-card-text .hover .dt-5 {
  width: 100%;
  max-width: 61.3rem;
  color: var(--White, #fff);
}
.course__items-card:hover .course__items-card-text .hover .course__items-card-hover-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}
.course__items-card:hover .course__items-card-text .hover .course__items-card-hover-buttons .btn-primary-white {
  color: transparent;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4rem;
  padding-bottom: 10rem;
}
.gallery__header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}
.gallery__header h2 {
  font-size: 14rem;
  text-transform: uppercase;
  color: var(--Light-Gray, #f6f6f6);
}
.gallery__header .text-in-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--Blue, #4997d3);
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.gallery__header .dt-2 {
  text-transform: uppercase;
}
.gallery__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery__content-left {
  width: 100%;
  max-width: 35.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.gallery__content-left .left-image-first img {
  width: 100%;
  max-width: 35.7rem;
  border-radius: 2.5rem;
  background: #d9d9d9;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__content-left .left-image-first img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.gallery__content-left .left-image-second img {
  width: 100%;
  max-width: 35.7rem;
  height: 32rem;
  border-radius: 2.5rem;
  background: #d9d9d9;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__content-left .left-image-second img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.gallery__content-center img {
  width: 100%;
  max-width: 74.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83rem;
  border-radius: 2.5rem;
  background: #d9d9d9;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__content-center img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.gallery__content-right {
  width: 100%;
  max-width: 35.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.gallery__content-right .right-image-first img {
  width: 100%;
  max-width: 35.7rem;
  height: 32rem;
  border-radius: 2.5rem;
  background: #d9d9d9;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__content-right .right-image-first img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.gallery__content-right .right-image-second img {
  width: 100%;
  max-width: 35.7rem;
  border-radius: 2.5rem;
  background: #d9d9d9;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__content-right .right-image-second img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.gallery__site {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__site .btn-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6rem 2.4rem;
  gap: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  border: 1px solid var(--Blue, #4997d3);
  background: var(--White, #fff);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__site .btn-site i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__site .btn-site i svg g g g path {
  fill: var(--Blue, #4997d3);
}
.gallery__site .btn-site:hover {
  border: 1px solid var(--White, #fff);
  background: var(--Blue, #4997d3);
  color: var(--White, #fff);
}
.gallery__site .btn-site:hover i svg g g g path {
  fill: var(--White, #fff);
}
.gallery__site .dt-1 {
  text-transform: uppercase;
}

.asked-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 7.1rem;
  padding-bottom: 16rem;
}
.asked-question__col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 49.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.6rem;
}
.asked-question__col-left .dots {
  width: 100%;
  max-width: 10rem;
  height: 8rem;
  position: absolute;
  bottom: 0;
  background: url("../../images/dots.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.asked-question__col-left .dt-5 {
  opacity: 0.75;
  position: relative;
  z-index: 3;
}
.asked-question__col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8.2rem;
  margin-top: 10rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.asked-question__col-right-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 91.5rem;
}
.asked-question__col-right-text .content {
  width: 100%;
  max-width: 81.5rem;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.asked-question__col-right-text:hover .content {
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: var(--Black, #222);
  padding-bottom: 3rem;
}
.asked-question__col-right-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.asked-question__col-right-text-content .circle svg {
  width: 100%;
  position: relative;
  max-width: 4.8rem;
  height: 4.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: var(--Blue, #4997d3);
  -webkit-text-stroke: 1px var(--Blue, #4997d3);
}

.swiper {
  width: 100%;
  height: auto;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
.autoplay-progress span {
  color: var(--White, #fff);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--White, #fff);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet-active {
  background: var(--White, #fff);
}

@media only screen and (max-width: 1235px) {
  .asked-question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding-bottom: 7rem;
  }
}
@media only screen and (max-width: 1125px) {
  .hero-section__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-section__col-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .hero-section__col-right-third-box {
    height: auto;
  }
  .about-us__content-image {
    display: none;
  }
  .about-us__content-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about-us__content-right-image img {
    height: auto;
  }
}
@media only screen and (max-width: 1080px) {
  .course__items {
    gap: 8.1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media only screen and (max-width: 900px) {
  .promo-section__image img {
    height: auto;
  }
  .gallery__content-center img {
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .hero-section__col-right-second-box {
    max-width: 35.5rem;
  }
  .hero-section__col-right-third-box {
    max-width: 35.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .our-values {
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 700px) {
  .hero-section__col-left-text .text-one h2 {
    font-size: 7.2rem;
  }
  .hero-section__col-left-text .text-two h2 {
    font-size: 7.2rem;
  }
  .hero-section__col-right-second-box {
    max-width: 100%;
  }
  .hero-section__col-right-second-box .box-gradient {
    max-width: 100%;
  }
  .hero-section__col-right-third-box {
    max-width: 100%;
  }
  .hero-section__col-right-third-box .text-content {
    gap: 3rem;
  }
  .about-us__header h2 {
    font-size: 12rem;
  }
  .about-us__content .header-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .about-us__content .header-description .text-col-left {
    max-width: 100%;
  }
  .our-values {
    gap: 3rem;
  }
  .our-values__header h2 {
    font-size: 12rem;
    text-align: center;
  }
  .promo-section__content {
    padding: 2rem;
  }
  .promo-section__content-header h3 {
    font-size: 6rem;
  }
  .course__header h2 {
    font-size: 12rem;
  }
  .gallery__header h2 {
    font-size: 12rem;
  }
}
@media only screen and (max-width: 500px) {
  .hero-section {
    padding-bottom: 7rem;
  }
  .hero-section__col-left-text {
    padding: 6.7rem 0 6.7rem 2rem;
  }
  .hero-section__col-left-text .text-one h2 {
    font-size: 5.2rem;
  }
  .hero-section__col-left-text .text-two h2 {
    font-size: 5.2rem;
  }
  .about-us {
    gap: 3rem;
    padding-bottom: 7rem;
  }
  .about-us__header h2 {
    font-size: 9rem;
  }
  .about-us__header .text-in-header {
    font-size: 1.4rem;
  }
  .about-us__content .header-description .text-col-left h3 {
    font-size: 6rem;
  }
  .our-values__header h2 {
    font-size: 9rem;
  }
  .promo-section {
    padding-bottom: 5rem;
  }
  .promo-section__content {
    gap: 1.4rem;
  }
  .promo-section__content-header {
    padding: 2.7rem 0 2.7rem 1rem;
    gap: 1.4rem;
  }
  .promo-section__content-header h6 {
    font-size: 1.6rem;
  }
  .promo-section__content-header h2 {
    font-size: 4rem;
  }
  .promo-section .btn-primary-white {
    padding: 1rem;
  }
  .course__header h2 {
    font-size: 9rem;
  }
  .gallery {
    padding-bottom: 5rem;
  }
  .gallery__header h2 {
    font-size: 9rem;
  }
}
@media only screen and (max-width: 395px) {
  .promo-section__content-header h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 375px) {
  .about-us__header h2 {
    font-size: 7rem;
  }
  .about-us__header .text-in-header {
    top: 30%;
  }
  .about-us__content .header-description .text-col-left h3 {
    font-size: 4rem;
  }
  .our-values__header h2 {
    font-size: 7rem;
  }
  .course__header h2 {
    font-size: 7rem;
  }
  .gallery__header h2 {
    font-size: 7rem;
  }
}
/*# sourceMappingURL=home.css.map */
