/* Oswald - 400 */
@font-face {
    font-display: swap;
    font-family: "Oswald-Regular";
    src: url("../fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Oswald - 500 */
@font-face {
    font-display: swap;
    font-family: "Oswald-Semibold";
    src: url("../fonts/Oswald-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Oswald - 700 */
@font-face {
    font-display: swap;
    font-family: "Oswald-Bold";
    src: url("../fonts/Oswald-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Poppins - 300 */
@font-face {
    font-display: swap;
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Poppins - 400 */
@font-face {
    font-display: swap;
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Poppins - 500 */
@font-face {
    font-display: swap;
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
