@import "fonts";

/*	1) Headlines text group
--------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    // @include f(gs,m);
}

// Headline 1
h1,
.h1 {
    @include t(h1);
    // margin-bottom: 3.2rem;
}

// Headline 2
h2,
.h2 {
    @include t(h2);
    @include f(o, b);
    // margin-bottom: 3.2rem;
}

// Headline 3
h3,
.h3 {
    @include t(h3);
    @include f(o, b);
    // margin-bottom: 3.2rem;
}

// Headline 4
h4,
.h4 {
    @include t(h4);
    @include f(o, sb);
    // margin-bottom: 3.2rem;
}

// Headline 5
h5,
.h5 {
    @include t(h5);
    @include f(o, sb);
    // margin-bottom: 3.2rem;
}

// Headline 6
h6,
.h6 {
    @include t(h5);
    @include f(p, l);
    // margin-bottom: 3.2rem;
}

/*	2) Display text group
--------------------------------------- */
.dt {
    // Display text 1
    &-1 {
        @include t(dt-1);
        @include f(p, m);
        color: var(--Blue, #4997d3);
    }

    // Display text 2
    &-2 {
        @include t(dt-2);
        @include f(p);
        color: var(--Black, #222);
    }

    // Display text 3
    &-3 {
        @include t(dt-3);
        @include f(p);
    }

    // Display text 4
    &-4 {
        @include t(dt-4);
        @include f(p, l);
    }

    // Display text 4
    &-5 {
        @include t(dt-5);
        @include f(p);
    }
}

/*	2) General text group
--------------------------------------- */

// Subheader
.subheader {
    @include t(subheader);
    @include f(p, m);
    color: white;
}

// Body text
p {
}

// Hyperlink
a,
.link {
}

// Bold body text
strong,
.strong {
    // @include f(s,b);
}

// Big body text
.bbt {
    @include t(bbt);
}

// Big hyperlink
// - combine el + class: a.bbt OR .link.bbt
// a, .link {
//     &.bbt {}
// }

// Bold big body text
// - combine el + class: strong.bbt OR .strong.bbt
// strong, .strong {
//     &.bbt {}
// }

// Small body text
.sbt {
    @include t(sbt);
}

// Button text
.button {
    @include t(button);
}

/*	4) Theme specific
--------------------------------------- */
