/*
========================================================================
    Utility classes
========================================================================
*/


/*	Coloring - color & background
======================================================================== */

// .c {

//     &-white {
//         color: $white;
//     }
// }

// .bg {

//     &-white {
//         background-color: #fff;
//     }
// }


/* #region TEXT ======================================================================= */

/*	Text transform
======================================================================== */
.tt {

    &-u {
        text-transform: uppercase;
    }
}

/*	Text align
======================================================================== */
.ta {

    &-l {
        text-align: left;
    }

    &-c {
        text-align: center;
    }

    &-r {
        text-align: right;
    }
}

/* #endregion */


/* #region FLEX ======================================================================= */

.df {
    display: flex;

    /*	Flex Wrap
    --------------------------------------- */

    &--fw {

        &-w {
            flex-wrap: wrap;
        }

        &-nw {
            flex-wrap: nowrap;
        }
    }

    /*	Align items
    --------------------------------------- */

    &--ai {

        &-s {
            align-items: flex-start;
        }

        &-c {
            align-items: center;
        }
    }

    /*	Justify content
    --------------------------------------- */

    &--jc {

        &-c {
            justify-content: center;
        }

        &-sb {
            justify-content: space-between;
        }
    }

    /*	Wrapping
    --------------------------------------- */

    &--fw {

        &-w {
            flex-wrap: wrap;
        }

        &-nw {
            flex-wrap: nowrap;
        }
    }
}

/* #endregion */

