/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
/* PLUGINS */
@import url(../js/library/slick/slick.scss);
/* UTILITIES */
/*
========================================================================
    Utility classes
========================================================================
*/
/*	Coloring - color & background
======================================================================== */
/* #region TEXT ======================================================================= */
/*	Text transform
======================================================================== */
.tt-u {
  text-transform: uppercase;
}

/*	Text align
======================================================================== */
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

/* #endregion */
/* #region FLEX ======================================================================= */
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*	Flex Wrap
  --------------------------------------- */
  /*	Align items
  --------------------------------------- */
  /*	Justify content
  --------------------------------------- */
  /*	Wrapping
  --------------------------------------- */
}
.df--fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.df--fw-nw {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.df--ai-s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.df--ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.df--jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.df--jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.df--fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.df--fw-nw {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* #endregion */
/* TYPOGRAPHY */
/* Oswald - 400 */
@font-face {
  font-display: swap;
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
/* Oswald - 500 */
@font-face {
  font-display: swap;
  font-family: "Osvald-Semibold";
  src: url("../fonts/Oswald-SemiBold.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
/* Oswald - 700 */
@font-face {
  font-display: swap;
  font-family: "Osvald-Bold";
  src: url("../fonts/Oswald-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
/* Poppins - 300 */
@font-face {
  font-display: swap;
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
/* Poppins - 400 */
@font-face {
  font-display: swap;
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
/* Poppins - 500 */
@font-face {
  font-display: swap;
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
/*	1) Headlines text group
--------------------------------------- */
h1,
.h1 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-rate) * 6.4rem);
  line-height: 1.171875;
}

h2,
.h2 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-rate) * 9.2rem);
  line-height: 1;
  font-family: "Osvald-Bold", sans-serif;
  font-weight: 700;
}

h3,
.h3 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-rate) * 2.8rem);
  line-height: 1.4285714286;
}

h4,
.h4 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-rate) * 2.4rem);
  line-height: 1.1666666667;
}

h5,
.h5 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.8rem);
  line-height: 1.5555555556;
}

h6,
.h6 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.8rem);
  line-height: 1.5555555556;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
}

/*	2) Display text group
--------------------------------------- */
.dt-1 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.6rem);
  line-height: 1.75;
}
.dt-2 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.6rem);
  line-height: 1.75;
}
.dt-3 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.6rem);
  line-height: 1.75;
}
.dt-4 {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.6rem);
  /*	3) General text group
  --------------------------------------- */
  line-height: 1.75;
}

/*	2) General text group
--------------------------------------- */
.subheader {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 2rem);
  line-height: 1.5;
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 500;
  color: white;
}

.bbt {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: calc(var(--fs-small-rate) * 1.8rem);
  line-height: 1.5555555556;
}

.sbt {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: 14px;
  line-height: 1.7142857143;
}

.button {
  /*	1) Headlines text group
  --------------------------------------- */
  font-size: 14px;
  line-height: 1.7142857143;
}

/*	4) Theme specific
--------------------------------------- */
/* MAIN DESIGN */
/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
/*
FONT WEIGHTS:
    black:    900;
    heavy:    800;
    bold:     700;
    semiBold: 600;
    medium:   500;
    regular:  400;
    light:    300;
    thin:     100;
*/
/* #region GENERAL SETTINGS ============================================================= */
html,
body {
  background: white;
  color: black;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 1500px) {
  html,
  body {
    font-size: 58%;
  }
}
@media screen and (max-width: 1240px) {
  html,
  body {
    font-size: 55%;
  }
}

html.withMenu,
body.withMenu {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */ /* Firefox 1 - 28 */
  box-sizing: border-box; /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
  /*	CSS variables
  --------------------------------------- */
  --primary: #031633;
  --primary-rgb: 3, 22, 51;
  --black: #333;
  --black-rgb: 51, 51, 51;
  --off-white: #FDFCF8;
  --off-white-rgb: 253, 252, 248;
  --violet-accent: #9C68E2;
  --violet-accent-rgb: 156, 104, 226;
  --fs-rate: 1;
  --fs-small-rate: 1;
}
*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 1024px) {
  * {
    --fs-rate: 0.85;
    --fs-small-rate: 0.85;
  }
}
@media screen and (max-width: 640px) {
  * {
    --fs-rate: 0.75;
    --fs-small-rate: 0.8;
  }
}
@media screen and (max-width: 450px) {
  * {
    --fs-rate: 0.65;
    --fs-small-rate: 0.75;
  }
}

input,
textarea,
select {
  color: black;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
}

textarea {
  resize: vertical;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a,
label,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

.clear,
.clearfix:after {
  content: " ";
  width: 100%;
  height: 0px;
  display: block;
  overflow: hidden;
  clear: both;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 2.5rem;
  width: 100%;
  max-width: 152rem;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* #endregion */
/* #region MOBILE MENU ICON ============================================================= */
.hamburger {
  position: absolute;
  top: 50%;
  right: calc((4rem - calc(4rem * 0.5)) / 2 + 0);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: calc(4rem * 0.5);
  height: calc(4rem * 0.5);
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  /* active state, i.e. menu opened */
}
.hamburger:focus {
  outline: none;
}
.hamburger:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index: 0;
  background: red;
}
.hamburger span {
  border-radius: 1.5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  background: var(--primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger span:before, .hamburger span:after {
  border-radius: 1.5px;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
}
.hamburger span:before {
  top: -6px;
}
.hamburger span:after {
  bottom: -6px;
}
.hamburger--htx {
  background: transparent;
}
.hamburger--htx span:before, .hamburger--htx span:after {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.hamburger--htx span:before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.hamburger--htx span:after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
.hamburger--htx.is-active {
  background: transparent;
}
.hamburger--htx.is-active span {
  background: none;
  -webkit-transition: none;
  transition: none;
}
.hamburger--htx.is-active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger--htx.is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger--htx.is-active span:before, .hamburger--htx.is-active span:after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

/* #endregion */
/* #region SITE HEADER ======================================================================= */
@media screen and (max-width: 782px) {
  body.admin-bar .site-header {
    top: 46px;
  }
}

.site-header {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 500;
  padding: 2.5rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-header.scrolled {
  -webkit-box-shadow: 0px 25px 37px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 25px 37px rgba(0, 0, 0, 0.05);
}
.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .site-header__left-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
}
.site-header .site-header__left-col a svg {
  width: 100%;
  max-width: 6.3rem;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.site-header .site-header__right-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: right;
}
.site-header .hamburger {
  display: none;
}
.site-header nav {
  display: inline-block;
  vertical-align: middle;
}
.site-header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8rem;
  list-style: none;
}
.site-header ul li a {
  color: black;
  font-size: 1.6rem;
  -webkit-filter: drop-shadow(5px 20px 50px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(5px 20px 50px rgba(0, 0, 0, 0.1));
}

.site-header__search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
}
.site-header__search.active input {
  padding: 0 5rem 0 2rem;
  width: 30rem;
}
.site-header__search form {
  font-size: 0;
}
.site-header__search input {
  position: absolute;
  z-index: 1;
  right: 1px;
  top: 0;
  height: 100%;
  padding: 0;
  width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
}
.site-header__search button {
  position: relative;
  z-index: 2;
  font-size: 0;
  background: black;
  color: white;
  width: 40px;
  text-align: center;
  border: none;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-header__search button:hover {
  cursor: pointer;
  color: red;
}

/* MOBILE VERSION */
@media screen and (max-width: 970px) {
  .site-header .hamburger {
    display: block;
  }
  .site-header .menu-primary {
    max-height: 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: var(--site-header-height);
    display: block;
    overflow: hidden;
    background: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .site-header .menu-primary ul {
    display: block;
    text-align: center;
  }
  .site-header .menu-primary ul li {
    margin: 1rem 0;
  }
  .site-header .menu-primary ul li a {
    padding: 1.5rem 0;
  }
  .site-header.withMenu .menu-primary {
    max-height: 100vh;
    overflow: auto;
  }
}
/* #endregion */
/* #region SITE FOOTER ======================================================================= */
/* #endregion */
/* COMPONENTS */
/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
a.btn,
.editor-styles-wrapper .gt-block a.btn {
  min-width: 180px;
  padding: 11px 14px;
  margin: 0 8px 12px 0;
  display: inline-block;
  vertical-align: top;
  border-radius: 9px;
  background: red;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.btn:hover,
.editor-styles-wrapper .gt-block a.btn:hover {
  background: white;
  color: red;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.16);
}

/* #endregion */
/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
.icheckbox {
  /*	Component settings
  --------------------------------------- */
  /*	Styling
  --------------------------------------- */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 1.3rem 0 0;
  display: inline-block;
  vertical-align: top;
  background: white;
  border: 1px solid black;
  border-radius: 0.4rem;
  cursor: pointer;
  /*	Hover & checked states
  --------------------------------------- */
}
.icheckbox:after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: " ";
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  opacity: 0;
}
.icheckbox.hover, .icheckbox:hover {
  background: white;
  border-color: green;
}
.icheckbox.checked {
  background: green;
  border-color: green;
}
.icheckbox.checked:after {
  opacity: 1;
}

/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
.slick-arrow {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  top: 50%;
  display: block;
  border-radius: 50%;
  background-color: grey;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.6rem auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='Group_2' data-name='Group 2' transform='translate(-0.162)'%3E%3Crect id='Rectangle_28' data-name='Rectangle 28' width='26' height='26' transform='translate(0.162)' fill='%23fff' opacity='0'/%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(10 5)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M2646.564,4075.4h0a3.2,3.2,0,0,1,0-4.528l3.342-3.342-3.342-3.342a3.2,3.2,0,0,1,0-4.527h0l7.87,7.869Z' transform='translate(-2645.626 -4059.663)' fill='%23121524'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slick-arrow:hover {
  background-color: grey;
}
.slick-arrow.prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slick-arrow.next {
  right: 0;
}
.slick-arrow.slick-hidden, .slick-arrow.slick-disabled {
  display: none;
}

.slick-dots {
  width: 100%;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  padding: 0 1.4rem;
  display: inline-block;
  vertical-align: top;
}
.slick-dots li button {
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 50px;
  border-radius: 50%;
  background: #C4C6CF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.slick-dots li button:hover {
  background: black;
}
.slick-dots li.slick-active button {
  background: black;
}

/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
.gt-block form,
.editor-styles-wrapper .gt-block form {
  position: relative;
}
.gt-block form input[type=text],
.gt-block form textarea,
.editor-styles-wrapper .gt-block form input[type=text],
.editor-styles-wrapper .gt-block form textarea {
  width: 100%;
  height: 60px;
  padding: 0 24px;
  border: 1px solid #D3D0D0;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gt-block form input[type=text]:hover, .gt-block form input[type=text]:focus,
.gt-block form textarea:hover,
.gt-block form textarea:focus,
.editor-styles-wrapper .gt-block form input[type=text]:hover,
.editor-styles-wrapper .gt-block form input[type=text]:focus,
.editor-styles-wrapper .gt-block form textarea:hover,
.editor-styles-wrapper .gt-block form textarea:focus {
  border-color: black;
}
.gt-block form input[type=text]::-webkit-input-placeholder,
.gt-block form textarea::-webkit-input-placeholder,
.editor-styles-wrapper .gt-block form input[type=text]::-webkit-input-placeholder,
.editor-styles-wrapper .gt-block form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(var(--primary-rgb), 0.6);
  opacity: 1;
}
.gt-block form input[type=text]::-moz-placeholder,
.gt-block form textarea::-moz-placeholder,
.editor-styles-wrapper .gt-block form input[type=text]::-moz-placeholder,
.editor-styles-wrapper .gt-block form textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(var(--primary-rgb), 0.6);
  opacity: 1;
}
.gt-block form input[type=text]:-ms-input-placeholder,
.gt-block form textarea:-ms-input-placeholder,
.editor-styles-wrapper .gt-block form input[type=text]:-ms-input-placeholder,
.editor-styles-wrapper .gt-block form textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(var(--primary-rgb), 0.6);
  opacity: 1;
}
.gt-block form input[type=text]:-moz-placeholder,
.gt-block form textarea:-moz-placeholder,
.editor-styles-wrapper .gt-block form input[type=text]:-moz-placeholder,
.editor-styles-wrapper .gt-block form textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(var(--primary-rgb), 0.6);
  opacity: 1;
}
.gt-block form textarea,
.editor-styles-wrapper .gt-block form textarea {
  height: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

/* PAGES (better to include direct CSS file on the page) */
/*@import url(pages/XXX.scss);*/
/* BLOCKS  (better to include direct CSS file with the block) */
/*	Defined widths
--------------------------------------- */
/*	Slider settings
--------------------------------------- */
/*	Colors
--------------------------------------- */
/*	Breakpoints
--------------------------------------- */
/*	Other
--------------------------------------- */
/* common border radius */
/* disable text selection */
/*	Font / Text Mixins
======================================================================== */
/*	Font family mixin
    Examples:
    @include f(s,r);
    @include f(gs,l);
--------------------------------------- */
/*	Text mixin
    (dynamic font size and line height)
--------------------------------------- */
section.gt-block,
.editor-styles-wrapper section.gt-block {
  position: relative;
}
section.gt-block .center,
.editor-styles-wrapper section.gt-block .center {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1200px) {
  section.gt-block .center,
  .editor-styles-wrapper section.gt-block .center {
    width: auto;
    margin: 0 30px;
  }
}

/*@import url(blocks/XXX.scss);*/